<!DOCTYPE html>

<html>
<head>
    <title>DRG Weapon Armory</title>
</head>
<body style="background-color:#e0b92b;">

    <center>
        <h1>Dwarves Weapon Selection</h1>
        <h3>Name: {{ name }}</h3>
        <h3>Class: {{ class }}</p></h3>
    
    <br>    

        <table bgcolor="black">
            <tr bgcolor="grey">
                <th width="150">Model</th>
                <th width="150">Name</th>
                <th width="150">Amount (in stock)</th>
                <th width="150">Description</th>
                <th width="150">Category</th>
                <th width="150">Stats</th>
            </tr>
            <tr bgcolor="lightgrey" align="middle">
                <td width="150"><img src="GearGraphic_Coilgun (png).png" height="100"></td>
                <td width="150">{{ name1 }}</td>
                <td width="150">{{ amount1 }}</td>
                <td width="150">{{ description1 }}</td>
                <td width="150">{{ category1 }}</td>
                <td width="200" align="left"><ul>
                    <li>{{ stats1a }}</li>
                    <li>{{ stats1b }}</li>
                    <li>{{ stats1c }}</li>
                    <li>{{ stats1d }}</li>
                    <li>{{ stats1e }}</li>
                    </ul></td>
            </tr>
            <tr bgcolor="lightgrey" align="middle">
                <td width="150"><img src="GearGraphic_Drills (png).png" height="100"></td>
                <td width="150">{{ name2 }}</td>
                <td width="150">{{ amount2 }}</td>
                <td width="150">{{ description2 }}</td>
                <td width="150">{{ category2 }}</td>
                <td width="200" align="left"><ul>
                    <li>{{ stats2a }}</li>
                    <li>{{ stats2b }}</li>
                    <li>{{ stats2c }}</li>
                    <li>{{ stats2d }}</li>
                    <li>{{ stats2e }}</li>
                    </ul></td>
            </tr>
            <tr bgcolor="lightgrey" align="middle">
                <td width="150"><img src="GearGraphic_PickAxe (png).png" height="100"></td>
                <td width="150">{{ name3 }}</td>
                <td width="150">{{ amount3 }}</td>
                <td width="150">{{ description3 }}</td>
                <td width="150">{{ category3 }}</td>
                <td width="200" align="left"><ul>
                    <li>{{ stats3a }}</li>
                    <li>{{ stats3b }}</li>
                    </ul></td>
            </tr>
        </table>
    </center>    
</body>    
</html>